body {
    background: #dedede;
}

.banner {
    height: 30px;
    width: 100%;
    background: #000024;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    padding: 20px 0 20px 0;
    margin: -20px 0 0 0;
    text-align: center;
}

header {
    background: #ffffff;
    width: 95%;
    padding: 10px 0 0 0;
    margin: 0 auto;
}

header .otherText {
    width: 95%;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #7c8a97;
    padding: 0 0 25px 0;
    margin: 0 auto;
    text-align: center;
}

hr.hr1 {
    border-top: #000024 solid 4px;
    border-bottom: #000024 solid 2px;
    border-left: none;
    border-right: none;
    height: 6px;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    background: #ffffff;
}

header .headerText {
    text-align: center;
    padding: 16px 0 12px 0;
    margin: 0 auto;
}

#mainForm {
    display: flex;
    flex-direction: column;
    background: #ffffff;
    width: 95%;
    padding: 0;
    margin: 0 auto;
}

#mainForm hr {
    height: 2px;
    width: 95%;
    background: #000024;
    padding: 0;
    margin: 0 auto;
}

.headerText {
    width: 95%;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #000024;
    padding: 16px 0 12px 0;
    margin: 0 auto;
    text-align: left;
}

.label {
    width: 95%;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #7c8a97;
    padding: 4px 0 4px 0;
    margin: 0 auto;
    text-align: left;
}

.inputZip {
    width: 45%;
    height: 27px;
    border: solid 1px #eff0f1;
    border-radius: 3px;
    background: #eff0f1;
    padding: 0;
    margin: 0 0 0 2.5%;
}

.input {
    width: 95%;
    height: 27px;
    border: solid 1px #eff0f1;
    border-radius: 3px;
    background: #eff0f1;
    padding: 0;
    margin: 0 auto;
}

.select {
    width: 95%;
    height: 5%;
    border: solid 1px #eff0f1;
    border-radius: 3px;
    background: #eff0f1;
    padding: 0;
    margin: 0 auto;
}

.item {
    display: block;;
    background: #ffffff;
    width: 95%;
    padding: 0;
    margin: 0 auto;
}

.itemLabel {
    display: inline;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #7c8a97;
    padding: 4px 0 4px 0;
    margin: 0 auto;
    text-align: left;
}

.itemInput {
    display: inline;
}

.userInput {
    height: 150px;
    width: 95%;
    resize: none;
    border: solid 1px #eff0f1;
    border-radius: 3px;
    background: #eff0f1;
    padding: 0;
    margin: 0 auto;
}

.submitButton {
    height: 75px;
    width: 95%;
    border: solid 1px #49bbb5;
    border-radius: 3px;
    background: #49bbb5;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 1.8em;
    color: #ffffff;
    padding: 0;
    margin: 0 auto;
}

.footerText {
    width: 95%;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #7c8a97;
    padding: 4px 0 30% 0;
    margin: 0 auto;
    text-align: center;
}

.otherText {
    width: 95%;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #7c8a97;
    padding: 4px 0 4px 0;
    margin: 0 auto;
    text-align: center;
}

.select, .placeholderText {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #bbbfc2;
    padding: 4px 0 4px 0;
    margin: 0 auto;
    text-align: left;
}

::-webkit-input-placeholder {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.3em;
    color: #bbbfc2;
    padding: 4px 8px 4px 0;
    margin: 0 auto;
    text-align: right;
}